[submodule "code/indonusa/angular/site/website"]
	path = code/indonusa/angular/site/website
	url = https://github.com/etos-systems/website.git
	branch = main
[submodule "code/indonusa/laravel/services/auth"]
	path = code/indonusa/laravel/services/auth
	url = https://github.com/etos-systems/auth-laravel-services.git
	branch = main
[submodule "code/indonusa/angular/app/accounting"]
	path = code/indonusa/angular/app/accounting
	url = https://github.com/etos-systems/accounting-angular-web.git
	branch = main
[submodule "code/indonusa/angular/app/host"]
	path = code/indonusa/angular/app/host
	url = https://github.com/etos-systems/host-angular-web.git
	branch = main
[submodule "code/indonusa/angular/app/management"]
	path = code/indonusa/angular/app/management
	url = https://github.com/etos-systems/management-angular-web.git
	branch = main
[submodule "code/indonusa/angular/app/payroll"]
	path = code/indonusa/angular/app/payroll
	url = https://github.com/etos-systems/payroll-angular-web.git
	branch = main
[submodule "code/indonusa/angular/app/spv"]
	path = code/indonusa/angular/app/spv
	url = https://github.com/etos-systems/spv-angular-web.git
	branch = main
[submodule "code/indonusa/laravel/services/contract"]
	path = code/indonusa/laravel/services/contract
	url = https://github.com/etos-systems/contract-laravel-services.git
	branch = main
[submodule "code/indonusa/angular/mfe/contract"]
	path = code/indonusa/angular/mfe/contract
	url = https://github.com/etos-systems/contract-angular-web.git
	branch = main
[submodule "code/indonusa/laravel/services/master"]
	path = code/indonusa/laravel/services/master
	url = https://github.com/etos-systems/master_laravel_services.git
	branch = main
[submodule "code/indonusa/angular/mfe/budget"]
	path = code/indonusa/angular/mfe/budget
	url = https://github.com/etos-systems/budget-angular-web.git
	branch = main
[submodule "code/indonusa/laravel/services/budget"]
	path = code/indonusa/laravel/services/budget
	url = https://github.com/etos-systems/budget-laravel-services.git
	branch = main
[submodule "code/indonusa/angular/app/report"]
	path = code/indonusa/angular/app/report
	url = https://github.com/etos-systems/report-angular-web.git
	branch = main
[submodule "code/indonusa/laravel/services/invoice"]
	path = code/indonusa/laravel/services/invoice
	url = https://github.com/etos-systems/invoice-laravel-services.git
	branch = main
[submodule "code/indonusa/angular/mfe/invoice"]
	path = code/indonusa/angular/mfe/invoice
	url = https://github.com/etos-systems/invoice-angular-web.git
	branch = main
[submodule "code/indonusa/angular/mfe/share"]
	path = code/indonusa/angular/mfe/share
	url = https://github.com/etos-systems/share-angular-web.git
	branch = main
[submodule "code/indonusa/laravel/services/faktur"]
	path = code/indonusa/laravel/services/faktur
	url = https://github.com/etos-systems/faktur-laravel-services.git
	branch = main
[submodule "code/indonusa/angular/mfe/faktur"]
	path = code/indonusa/angular/mfe/faktur
	url = https://github.com/etos-systems/invoice-angular-web.git
	branch = main
[submodule "code/indonusa/angular/app/crm"]
	path = code/indonusa/angular/app/crm
	url = https://github.com/etos-systems/crm-angular-web.git
	branch = main
[submodule "code/indonusa/angular/mfe/offer"]
	path = code/indonusa/angular/mfe/offer
	url = https://github.com/etos-systems/offer-angular-web.git
	branch = main
[submodule "code/indonusa/laravel/services/offer"]
	path = code/indonusa/laravel/services/offer
	url = https://github.com/etos-systems/offer-laravel-services.git
	branch = main
[submodule "code/indonusa/laravel/services/accounting"]
	path = code/indonusa/laravel/services/accounting
	url = https://github.com/etos-systems/accounting-laravel-services.git
	branch = main
[submodule "code/indonusa/laravel/services/transaction"]
	path = code/indonusa/laravel/services/transaction
	url = https://github.com/etos-systems/transaction-laravel-services.git
	branch = main
[submodule "code/indonusa/angular/mfe/transaction"]
	path = code/indonusa/angular/mfe/transaction
	url = https://github.com/etos-systems/transaction-angular-web.git
	branch = main
[submodule "code/indonusa/angular/mfe/cash"]
	path = code/indonusa/angular/mfe/cash
	url = https://github.com/etos-systems/cash-angular-web.git
	branch = main
[submodule "code/indonusa/laravel/services/cash"]
	path = code/indonusa/laravel/services/cash
	url = https://github.com/etos-systems/cash-laravel-services.git
	branch = main
[submodule "code/indonusa/angular/app/sales"]
	path = code/indonusa/angular/app/sales
	url = https://github.com/etos-systems/sales-angular-web.git
	branch = main
