<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>
<!-- notification bar -->
<app-notification></app-notification>


<!-- Navigation -->
<ng-container *ngIf="isScreenSmall">
    <fuse-vertical-navigation class="bg-card dark:bg-gray-900 print:hidden"
    [appearance]="'thin'"
    [mode]="'over'"
    [name]="'mainNavigation'"
    [navigation]="navigation.compact" [opened]="false">
        <!-- Navigation header hook -->
        <ng-container fuseVerticalNavigationHeader>
            <!-- Logo -->
            <div class="flex items-center justify-center h-20">
                <img class="w-8" src="{{logo}}" alt="Logo image">
            </div>
        </ng-container>
        <ng-container fuseVerticalNavigationFooter>
            <!-- Logo -->
            <div class="flex items-center justify-center h-20">
                <user/>
            </div>
        </ng-container>
    </fuse-vertical-navigation>
</ng-container>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">

    <!-- Header -->
    <ng-container *ngIf="!isScreenSmall">
        <!-- Header -->
        <div
            class="relative flex flex-0 items-center w-full h-16  pl-3 pr-4  z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">


            <!-- Horizontal navigation -->
            <fuse-horizontal-navigation class="mr-2" [name]="'mainNavigation'" [navigation]="navigation.horizontal"> </fuse-horizontal-navigation>


            <!-- Components -->
            <!-- <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
                <search [appearance]="'bar'"></search>
                <user/>
            </div> -->
        </div>
    </ng-container>

    <!-- Content -->
    <div class="flex flex-col flex-auto w-full">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div
        class="relative flex flex-0 items-center justify-between w-full h-14 pl-6 pr-4  z-49 border-t bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary text-md">
            <span *ngIf="!prod">IT DIV - </span>
            Etos Indonusa &copy; {{currentYear}}</span>
    </div>

</div>
